<!DOCTYPE html> 
<html> 
<head>
 <meta charset="UTF-8">
 <title>About Matthew</title>
 <link rel="stylesheet" href="A01.css">
 <link rel="stylesheet" href="form.css">
 <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"> -->


 </head>
 <body>
    <div class="center">
    <header>
         <div class="container">
             <nav>
                 <ul>
                     <li><a href="homepage.html">Home</a></li>
                     <li><a href="aboutme.html">About Me</a></li>
                     <li><a href="contact.html">Contact</a></li>
                     <li><a href="guestbook">Guest Book</a></li>
                 </ul>
             </nav>
         </div>
     </header>
    </div>
 <div>
    <p class="header3">Education History</p>
    <ul>
        <li>Undergrad double major - Business Management & Office Info Systems </li>
        <li>Graduate major - MBA with Information Technology emphasis</li>
        <li>Currently - taking classes in <a href="https://www.nwmissouri.edu/csis/msacs/index.htm" target="blank">Masters of Applied Computer Science</a></li>
    </ul>
</div> 
<div>
    <p class="red">Are you tieing your shoes correctly?</p>
    <div>
        <embed width="560" height="315" src="https://www.youtube.com/embed/zAFcV7zuUDA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen="true">
    </div>
 </div> 
<p class="header3"> Personal History </p>
<p> I'm from the local area, a small town 10 miles from here called Ravenwood. 
 Home of the <a href="http://www.nenr5.com/" target="_blank"> Blue Jays</a> 
 not the Ravens as everyone assumes.<br>
 I like doing anything outdoors and can work in the heat or extreme cold. 
 Unfortunately my outdoor activities have been limited due to a back injury. </p>

 <p class="header3">Future Plans</p>
 <p>
 My current career plan is to continue working at Northwest teaching classes. 
 Eventually when I am done taking classes I plan to have an MS-ACS degree and 
 the ability to teach computer science related classes. The possibility of a 
 PhD is possible as well. </p>
<div class="formcontainer">
        <div id="contact" method="post">
            <h2 class="center">When Can You Retire?</h2>
            <h3>Teachers are able to retire when they reach the magic number of 80. This is the combination of how old you are plus the number of years teaching in school.</h3>
            <fieldset>
                 <input id="EnterAge" placeholder="How old are you?" type="number" tabindex="1" required>
            </fieldset>
            <fieldset>
                <input id="EnterWork" placeholder="How long have you taught?" type="number" tabindex="2" required>
            </fieldset>
            <fieldset>
                <button onclick="App.launch()" class="btn btn-lg btn-danger" >Submit</button>
            </fieldset>
        </div>
    </div>
<p class="center">You can retire in approximately:</p>

<div class="container-fluid">
    <!-- BootStrap grid system using one row that could have several columns (when the screen size is large enough) -->
    <div class="row">
        <div class="center" "col-sm-12">
            <p> <span id="age"> </span>
                <span class="displayText"> + </span>
                <span id="work"> </span>
                <span class="displayText"> = </span>
                <span id="totalYears"> </span>
                <span class="displayText"> years</span>
            </p>
        </div>
        <div class="center" "col-sm-12">
            <p>
                <span class="displayText">~ </span>
                <span id="count"> </span>
                <span class="displayText"> year(s) to retire</span>
                <span id="displayPlace">&nbsp;</span>
            </p>
        </div>
    </div>
</div>

<footer>
    <p>Updated 2018</p>
</footer>
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="Retire.js"></script>
 </body>
 </html>