<!DOCTYPE html> 
<html> 
<head>
 <meta charset="UTF-8">
 <title>Contact Matthew</title>
 <link rel="stylesheet" href="A01.css">
 <link rel="stylesheet" href="form.css">

 </head>
 <body>
    <div class="center">
    <header>
         <div class="container">
             <nav>
                 <ul>
                    <li><a href="homepage.html">Home</a></li>
                    <li><a href="aboutme.html">About Me</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="guestbook">Guest Book</a></li>
                 </ul>
             </nav>
         </div>
     </header>
    </div>
   <div class="formcontainer">
       <form id="contact" method="post">
           <h2 class="center">Want to contact me?</h2>
           <fieldset>
                <input placeholder="Your name" type="text" tabindex="1" required>
           </fieldset>
           <fieldset>
               <input placeholder="Your email" type="text" tabindex="2" required>
           </fieldset>
           <fieldset>
               <input placeholder="Enter message" type="text" tabindex="3" required>
           </fieldset>
           <fieldset>
               <button name="submit" type="submit" id="contact-submit"> Submit</button>
            </fieldset>
       </form>
   </div> 
    <div class="center">
        <p><img src="F22Raptor2.jpg" alt="F-22 Raptor"> </p><br>
    </div>
    <p class="center"><a href="https://github.com/NWMAS17"><img src="GitHub.jpg"></a><a href="https://bitbucket.org/NWMAS17/schieber-m04"><img src="bitbucket.jpg">
    </p>
<footer>
    <p>Updated 2018</p>
</footer>
 </body>
 </html>