
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>M07 Matt's Guestbook</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/
bootstrap.min.css">
<link rel="stylesheet" href="gbook.css">
<link rel="stylesheet" href="A01.css">
<link rel="stylesheet" href="form.css">
</head>
<body class="container">
        <div class="center">
                <header>
                     <div class="container">
                         <nav>
                             <ul>
                                 <li><a href="homepage.html">Home</a></li>
                                 <li><a href="aboutme.html">About Me</a></li>
                                 <li><a href="contact.html">Contact</a></li>
                                 <li><a href="guestbook">Guest Book</a></li>
                             </ul>
                         </nav>
                     </div>
                 </header>
                </div>
<h1>
Express Guestbook
<a href="/new-entry" class="btn btn-primary pull-right">
Write in the guestbook
</a>
</h1>
