<!DOCTYPE html> 
<html> 
<head>
 <meta charset="UTF-8">
 <title>Matthew Schieber</title>
 <link rel="stylesheet" href="A01.css">

 </head>
 <body>
    <div class="center">
    <header>
         <div class="container">
             <nav>
                 <ul>
                     <li><a href="homepage.html">Home</a></li>
                     <li><a href="aboutme.html">About Me</a></li>
                     <li><a href="contact.html">Contact</a></li>
                     <li><a href="guestbook">Guest Book</a></li>
                 </ul>
             </nav>
         </div>
     </header>
    </div>
<p id="name"> Matthew Schieber</p>
<p class="centerText"> <img src="profile.jpg" class="img-circle" alt="me"> </p>
<p class="centerText"> I'm Matthew and I teach classes at Northwest Missouri State Univeristy</p>

<footer>
    <p>Updated 2018</p>
</footer>

 </body>
 </html>