#name {
    font-size: 2em;
    text-align: center;
    font-style: normal;
}

.header3 {
    font-style: normal;
	font-size: 2em;
	color: #4aee57;
}
h2 {
    font-size: 2em;
    color: #d37d1b
}
h3 {
    font-size: 1.15em;
    color: #d37d1b;
    text-align: justify;
}
body {
    margin: 1;
    font-family: 'Nueva Std Cond', sans-serif;
	font-style: italic;
    font-size: 1em;
    color: #77ecf0;
    background-color: #4e504e; 
}
a:link {
	text-decoration: none;
	color: #fffb00;
}
a:visited {
	text-decoration: none;
    color: rgb(255, 252, 102);
    
}
a:hover {
	text-decoration: none;
	color: rgb(255, 98, 98);
}
.container {
    width: 100%;
    margin: 0;
    display: inline-block;
}
.centerText {
    text-align: center;
    align-content: center;
}
.center {
    display: flex;
    justify-content: center;
}
.img-circle {
    border-radius: 50%;
  }
.red {
    color: #ff3c3c;
    font-size: 1.2em;
    font-style: normal;
}
header {
    background: #55d6aa;
    width: 50%;
    border: 5px solid #000;
    
}
header::after {
    content: '';
    display: table;
    clear: both;
}
footer {
    text-align: center;
}
nav {
    text-align: center;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;

    position: relative;
}
nav a {
    color: #d40202;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.6em;
}
nav a:hover {
    color: #000;
}
nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: #d40202;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}
nav a:hover::before {
    width: 100%;
}