.formcontainer {
    max-width: 450px;
	width: 100%;
	margin: 0 auto;
	position: relative;
}
fieldset {
	border: medium;
	margin: 0 0 10px;
	padding: 0;
	width: 100%;
}
#contact {
	background:#F9F9F9;
	padding: 25px;
	margin: 50px 0px;
}
#contact input {
	width: 100%;
	border: 1px solid #929292;
	background:#ffffff;
	margin: 0px;
	padding: 10px;
}
#contact textarea {
	height: 100px;
	max-width: 100%;
	resize: none;
}
#contact button {
    cursor: pointer;
	width: 100%;
	border: none;
	background:#0CF;
	color:#FFF;
	margin: 0 0 5px;
	padding: 10px;
	font-size: 15px;
}